A:hover {
    color: #0a0a0a;
    font-weight: bold;
    text-decoration: none;
}

.myLink {
    color: rgb(116, 116, 116);
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
}

h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

h2 {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
}

h2.small {
    font-size: 15px;
}

h5 {
    font-family: 'Lato', sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
}

p {
    text-align: left;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1.5px;
    line-height: 30px;
}

p.smallInfo {
    font-size: 13px;
    line-height: 20px;
    font-weight: lighter;
    color: #818181;
}

.side-bar {
    background: #efefef;
}

.navColor {
    background: #efefef;
}

.skillsName {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.skillsName.skillsPercent {
    text-align: right;
}

.col.skill {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.row.skill {
    padding-top: 2px;
    padding-bottom: 15px;
}

.progress-bar.color-1 {
    background: #0091ea;
}

.progress-bar.color-2 {
    background: #128b82;
}

.progress-bar.color-3 {
    background: #ff5252;
}

.progress-bar.color-4 {
    background: #141414;
}

.progress-bar.color-5 {
    background: #a7bc03;
}

.progress-bar.color-6 {
    background: #007b8b;
}

.progress-bar.color-7 {
    background: #a000a7;
}

.shadow {
  -webkit-box-shadow: 3px 3px 10px 6px #c1c1c1;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 10px 6px #c1c1c1;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 10px 6px #c1c1c1;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.shadowLight {
  -webkit-box-shadow: 2px 3px 15px 3px #d6d6d6;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    2px 3px 15px 3px #d6d6d6;  /* Firefox 3.5 - 3.6 */
  box-shadow:         2px 3px 15px 3px #d6d6d6;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}


