A:hover {
    color: #0a0a0a;
    font-weight: bold;
    text-decoration: none;
}

.myLink {
    color: rgb(116, 116, 116);
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
}

h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    
}

h2 {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
}

h5 {
    font-family: 'Lato', sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
}

p {
    text-align: left;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    line-height: 30px
}

.side-bar {
    background: #efefef;
}

.navColor {
    background: #efefef;
}

.skillsName {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.skillsName.skillsPercent {
    text-align: right;
}

.col.skill {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.row.skill {
    padding-top: 2px;
    padding-bottom: 15px;
}

.progress-bar.color-1 {
    background: #0091ea;
}

.progress-bar.color-2 {
    background: #128b82;
}

.progress-bar.color-3 {
    background: #ff5252;
}

.progress-bar.color-4 {
    background: #141414;
}

.progress-bar.color-5 {
    background: #a7bc03;
}

.progress-bar.color-6 {
    background: #007b8b;
}

.progress-bar.color-7 {
    background: #a000a7;
}
